.alarm {
  height: 255px;
  padding: 100px 0;
  margin-bottom: 150px;
}

button.delay-btn {
  background-color: lightblue;
  color: white;
  border: 1px solid white;
  width: 100px;
  height: 40px;
  font-size: large;
}